{% extends 'base.html' %}
{% block content %}

<div class="parent">
    <div class="container">
        <div class="title">{{ Name }}</div>
        <div class="price">{{ Price }}</div>
        <div class="description">{{ Desc }}</div>
    </div>
</div>


{% if not item_entries %}
    <p>There are no items being sold.</p>
{% else %}
    <table class="centered-table">
      <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
    

    {% for item in item_entries %}
      <tr>
        <td>{{  item.name  }}</td>
        <td>{{  item.price  }}</td>
        <td>{{  item.desc  }}</td>
      </tr>
    {% endfor %}
    </table>
{% endif %}
    <br />
    
    <a href="{% url 'main:create_new_item' %}" class="no-underline">
      <button class="add-item-btn">Add New Item</button>
    </a>

</div>
{% endblock content %}
